<div class="max-w-md mx-auto mt-8">
  <h2 class="text-2xl font-semibold mb-4">Edit Profile</h2>

  <%= form_with(model: @user, url: user_path(@user), method: :patch) do |form| %>
    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :email, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-4">
      <%= form.label :first_name, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :first_name, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-4">
      <%= form.label :last_name, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.text_field :last_name, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-4">
      <%= form.label :password, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.password_field :password, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="mb-6">
      <%= form.label :password_confirmation, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.password_field :password_confirmation, class: "form-input mt-1 block w-full" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit 'Save Changes', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
