<h1>All Events</h1>

<%= form_with(url: events_path, method: "get", local: true) do %>
  <div>
    <%= label_tag :search_name, "Search by Name:" %>
    <%= text_field_tag :search_name %>
  </div>
  
  <div>
    <%= label_tag :search_category, "Search by Category:" %>
    <%= select_tag :search_category, options_from_collection_for_select(@categories, :id, :name), include_blank: "All Categories" %>
  </div>
  
  <%= submit_tag "Search" %>
<% end %>

<% @events.each do |event| %>
  <div>
    <h2><%= event.name %></h2>
    <p><%= event.date.strftime("%Y-%m-%d") %></p>
    <p><%= event.description %></p>
    <p><%= event.category.name if event.category %></p>
    <p><%= link_to 'View', event_path(event) %></p>
  </div>
<% end %>

<p><%= link_to 'New Event', new_event_path %></p>

<%= will_paginate @events %>
